---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

import { getEntry } from 'astro:content';

import Ria from '../../public/icon-ria.svg';


const home = await getEntry('home', 'index');
const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const footer = home?.data.footer ?? [];
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>

			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0 auto;
				margin-bottom: 10rem;
			}

			.heading {
				text-align: center;
				margin: 10rem 0 4rem 0;
			}

			.heading h1 {
				font-size: 5.5rem;
				line-height: 75px;
				opacity: 0;
			}

			@media (max-width: 720px){
				.heading {
					margin: 6rem 0 2rem 0;
				}


				.heading h1 {
					font-size: 3rem;
				}

				.heading p{
					font-size: 1.3rem;
					line-height: 25px;
				}

				.contact-content{
					flex-direction: column;
					gap: 0.5rem;
				}
			}

			ul {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				gap: 2rem;
				list-style-type: none;
				padding: 0;
				width: fit-content;
				margin: 0 auto;
			}

			ul li * {
				text-decoration: none;
			}


			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}

			li{ 
				height: 100%;
				width: auto;
				list-style: none;
				overflow: hidden;
				position: relative;
				width: 20rem;
			}


			li a img{
				width: 100%;
				height: 100%;
				position: absolute;
				object-fit: cover;
			}

			@media (max-width: 1060px) {
				ul{
					grid-template-columns: 1fr 1fr;
				}
			}

			@media (max-width: 720px) {
				ul{
					grid-template-columns: 1fr;
				}
			}



			

			.info-content{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				width: 800px;
				height: fit-content;
				z-index: 1;
				margin: 0 auto;
			}

			.title-content{
				display: flex;
				flex-direction: column;
				gap: 1rem;
				align-items: center;
			}

			.title-content img{
				height: 90px;
			}

			.info-content h2{
				line-height: 66px;
			}
			.info-content p{
				font-size: 1.5rem;
				line-height: 38px;
			}

		

			.image-container{
				position: absolute;
				z-index: 0;
				width: 87vw;
				height: 80vh;
				min-width: 824px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			.image-container::after{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: black;
				opacity: 0.3;
			}

			.image-container img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

		

			.svg {
				position: absolute;
				width: 0;
				height: 0;
			}


			@media screen and (max-width: 768px) {

				.image-container{
					width: 55rem;
					height: auto;
				}

				.info-image{
					margin-bottom: -1rem;
				}
				
				.image-container::after{
					height: 102%;
					opacity: 0.3;
				}

				.transition{
					top: -1rem;
				}

				.info-content{
					flex-direction: column;
					width: 100%;
					top: auto;
					left: auto;
					position: relative;
					max-width: 90%;
					transform: none;
					gap: 2rem;
				}

				.info-content p{
					width: 100%;
					text-align: center;
					line-height: 30px;
				}

				.info-content p{
					font-size: 1.3rem;
					line-height: 24px;
				}



			
			}



			.contact-content{
				display: flex;
				align-items: center;
				gap: 1rem;
			}


			.icon{
				width: 40px;
				height: 40px;
			}

			a{
				text-decoration: none;
				color: inherit;
				font-weight: 500;
			}


		</style>
	</head>
	<body>
		<script>
			import "../scripts/lenis-init.js";
			import { initPageAnimations } from '../scripts/animations.js';
 
			document.addEventListener('DOMContentLoaded', () => {
				initPageAnimations();
			});
		</script>
		<Header />
		<main>
			<div class="heading">
				<h1 class="title-split">Contact</h1>
				<p>Vous êtres interessé par Terre Mer Rivière ?</p>
			</div>

			<section class="info-block" >

				<!-- <div class="image-container" style={`-webkit-clip-path: url(#clip-path); clip-path: url(#clip-path);`}>
					<img class="info-image" src="../beach.png" alt="photo de plage"/>
				</div> -->

				<div class="info-content">
					<div class="contact-content">
						<svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 102.13 128.34">
							<defs>
								<style>
									.cls-1 {
										fill: none;
										stroke: rgb(var(--gray-dark));
										stroke-width: 11px;
									}
								</style>
							</defs>
							<g id="Calque_2" data-name="Calque 2"><g id="Calque_1-2" data-name="Calque 1"><path class="cls-1" d="M102.11,101.66,5.22,102l51.56-.29-.45-34.52-.4-31.25,0-3.53S54.41,5.21,6.56,6.55v15.7S2.93,57.89,54.45,57.92C81.18,58,92.24,46.55,92.54,36.18S93,20.25,93,20.25,56.63,23,56,41.44"/><path class="cls-1" d="M6.11,121.84 L102.11,121.84"/></g></g>
						</svg>

						<p>L'association : <a href="mailto:tmr.terremerrivieres@gmail.com">tmr.terremerrivieres@gmail.com</a></p>
					</div>
					<div class="contact-content">
						<svg class="icon" width="234" height="179" viewBox="0 0 234 179" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M16.5234 110.921C37.4977 104.488 39.5721 85.6928 42.5684 62.7355C46.8324 29.3087 87.7437 -16.2274 142.599 28.9303C104.339 39.0214 97.1936 83.9269 120.242 93.3873C143.291 102.848 163.919 70.5562 196.187 95.6578C203.969 103.472 213.587 108.757 223.961 110.921" stroke="rgb(var(--gray-dark))" stroke-width="19" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M10 169.447C39.1507 169.447 61.0137 137.613 61.0137 137.613C61.0137 137.613 82.8767 169.447 112.028 169.447C141.178 169.447 170.329 137.613 170.329 137.613C170.329 137.613 199.479 169.447 221.342 169.447" stroke="rgb(var(--gray-dark))" stroke-width="19" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>

						<p>Emmanuel Hedde, Président : <a href="mailto:hedde.emmanuel@gmail.com">hedde.emmanuel@gmail.com</a></p>
					</div>
					<div class="contact-content">
						<svg class="icon" width="227" height="91" viewBox="0 0 227 91" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0 9.00002C3.06916 8.99662 5.95533 9.46362 8.58319 10.3331C11.2102 11.1949 13.5585 12.4597 15.5855 13.8966C19.6489 16.7958 22.4434 20.2264 24.8018 23.0285C26.3708 24.915 27.7443 26.5566 29.0243 27.8141C30.7545 29.5023 32.1803 30.494 33.961 31.1012C34.9916 31.4421 36.1977 31.6759 37.806 31.6759C39.3882 31.6759 40.5797 31.4533 41.6005 31.1157C42.6196 30.7782 43.4875 30.3185 44.387 29.6861C46.1726 28.4431 48.068 26.3379 50.3609 23.561C51.8953 21.7288 53.6069 19.627 55.7287 17.529C58.5369 14.7453 62.2162 11.9355 66.895 10.3729C69.5535 9.47822 72.4844 8.99712 75.601 9.00052C78.6715 8.99712 81.5598 9.46412 84.1855 10.3336C86.8116 11.1954 89.1616 12.4602 91.1865 13.8971C95.2534 16.7962 98.0466 20.2269 100.406 23.029C101.972 24.9155 103.347 26.5571 104.631 27.8146C106.36 29.5028 107.785 30.4945 109.564 31.1017C110.598 31.4426 111.802 31.6764 113.411 31.6764C114.996 31.6764 116.187 31.4538 117.208 31.1162C118.229 30.7787 119.099 30.319 119.998 29.6866C121.784 28.4436 123.677 26.335 125.972 23.5615C127.508 21.7254 129.221 19.6275 131.345 17.5295C134.154 14.7419 137.834 11.9359 142.514 10.3734C145.173 9.47862 148.104 8.99762 151.222 9.00092C154.291 8.99762 157.179 9.46462 159.808 10.3341C162.434 11.1959 164.781 12.4607 166.809 13.8976C170.873 16.7967 173.669 20.2235 176.026 23.0295C177.595 24.9121 178.97 26.5537 180.253 27.8112C181.983 29.5032 183.408 30.495 185.19 31.1022C186.224 31.4431 187.431 31.6769 189.04 31.6769C190.622 31.6769 191.817 31.4543 192.837 31.1167C193.858 30.7792 194.728 30.3194 195.627 29.6871C197.416 28.4441 199.309 26.3355 201.607 23.562C203.14 21.7259 204.854 19.6241 206.977 17.53C209.787 14.7424 213.463 11.9364 218.146 10.3724C220.805 9.47772 223.736 8.99662 226.854 9.00002" stroke="rgb(var(--gray-dark))" stroke-width="17"/>
							<path d="M0 59.0025C3.06916 58.9991 5.95533 59.4661 8.58319 60.3356C11.2102 61.1974 13.5585 62.4622 15.5855 63.8991C19.6489 66.7983 22.4434 70.2289 24.8018 73.031C26.3708 74.9175 27.7443 76.5591 29.0243 77.8166C30.7545 79.5048 32.1803 80.4965 33.961 81.1037C34.9916 81.4446 36.1977 81.6784 37.806 81.6784C39.3882 81.6784 40.5797 81.4558 41.6005 81.1182C42.6196 80.7807 43.4875 80.321 44.387 79.6886C46.1726 78.4456 48.068 76.3404 50.3609 73.5635C51.8953 71.7313 53.6069 69.6295 55.7287 67.5315C58.5369 64.7478 62.2162 61.938 66.895 60.3754C69.5535 59.4807 72.4844 58.9996 75.601 59.003C78.6715 58.9996 81.5598 59.4666 84.1855 60.3361C86.8116 61.1979 89.1616 62.4627 91.1865 63.8996C95.2534 66.7987 98.0466 70.2294 100.406 73.0315C101.972 74.918 103.347 76.5596 104.631 77.8171C106.36 79.5053 107.785 80.497 109.564 81.1042C110.598 81.4451 111.802 81.6789 113.411 81.6789C114.996 81.6789 116.187 81.4563 117.208 81.1187C118.229 80.7812 119.099 80.3215 119.998 79.6891C121.784 78.4461 123.677 76.3375 125.972 73.564C127.508 71.7279 129.221 69.63 131.345 67.532C134.154 64.7444 137.834 61.9384 142.514 60.3759C145.173 59.4811 148.104 59.0001 151.222 59.0034C154.291 59.0001 157.179 59.4671 159.808 60.3366C162.434 61.1984 164.781 62.4632 166.809 63.9001C170.873 66.7992 173.669 70.226 176.026 73.032C177.595 74.9146 178.97 76.5562 180.253 77.8137C181.983 79.5057 183.408 80.4975 185.19 81.1047C186.224 81.4456 187.431 81.6794 189.04 81.6794C190.622 81.6794 191.817 81.4568 192.837 81.1192C193.858 80.7817 194.728 80.3219 195.627 79.6896C197.416 78.4466 199.309 76.338 201.607 73.5645C203.14 71.7284 204.854 69.6266 206.977 67.5325C209.787 64.7449 213.463 61.9389 218.146 60.3749C220.805 59.4802 223.736 58.9991 226.854 59.0025" stroke="rgb(var(--gray-dark))" stroke-width="17"/>
						</svg>
						<p>Patrick O'Quin, Secrétaire Générale : <a href="mailto:patrick.oquin@outlook.com">patrick.oquin@outlook.com</a></p>
					</div>
				</div>
				
			</section>
			
		</main>
		{footer.map((footer) => (
			<Footer
				title={footer.title}
				text={footer.text}
				caption={footer.caption}
				mail={footer.mail}
			/>
		))}
	</body>
</html>
