---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
// import Footer from '../components/Footer.astro';
import Contact from '../components/Contact.astro';
import InfoBlock from '../components/InfoBlock.astro';
import FirstBlock from '../components/FirstBlock.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import { getEntry } from 'astro:content';

const home = await getEntry('home', 'index');
const first = home?.data.first ?? [];
const blocks = home?.data.blocks ?? [];
const contact = home?.data.contact ?? [];
---

<!doctype html>
<html lang="fr">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />

    <main>
		{first.map((first) => (
			<FirstBlock
				title={first.title}
				image={first.image}
				text={first.text}
			/>
		))}

		{blocks.map((block) => (
			<InfoBlock
				title={block.title}
				image={block.image}
				text={block.text}
			/>
		))}

		{contact.map((contact) => (
			<Contact
				title={contact.title}
				image={contact.image}
				text={contact.text}
			/>
		))}
    </main>

  </body>
</html>
