---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import InfoBlock from '../components/InfoBlock.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import { getEntry } from 'astro:content';

const home = await getEntry('home', 'index');
const blocks = home?.data.blocks ?? [];
---

<!doctype html>
<html lang="fr">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />

    <main>
      {blocks.map((block) => (
        <InfoBlock
          title={block.title}
          image={block.image}
          text={block.text}
        />
      ))}
    </main>
	
    <Footer />
  </body>
</html>
