---
const { title, caption, mail, text } = Astro.props;
const year = new Date().getFullYear();

---

<footer class="overflow-x-hidden">

    <!-- <div class="transition-content"> -->
        <svg class="transition" width="1594" height="215" viewBox="0 0 1594 215" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1567.55 10.7133C1588.24 12.4233 1567.55 7.49999 1590.93 0.613281C1598.5 39.0733 1588.24 94.4833 1567.55 91.7633C1536.65 101.093 1560.12 116.453 1547.45 108.793C1529.82 89.9433 1506.21 121.983 1502.92 119.043C1483.05 129.083 1472.92 119.783 1454.85 123.813C1404.98 124.593 1411.85 111.903 1395.91 136.843C1368.45 136.543 1364.01 140.553 1356.21 139.553C1349.7 143.143 1337.32 158.193 1291.83 128.183C1261.75 127.703 1270.67 133.523 1239.82 120.113C1214.21 100.103 1209.72 83.8033 1187.44 123.843C1169.19 131.603 1153.1 129.203 1149.38 142.233C1142.19 134.343 1125.78 150.543 1109.22 149.783C1095.64 143.263 1082.68 141.463 1073.34 131.593C1055.89 125.473 1039.93 100.843 1038.84 104.303C1025.95 86.5233 1008.27 83.8633 999.908 85.6533C967.349 74.4733 964.032 94.3233 942.045 91.3833C922.597 85.8333 899.373 81.2533 889.194 115.283C886.194 109.193 853.5 105.673 845.497 126.143C837.263 106.693 818.669 109.633 808.499 121.893C769.93 124.243 789.828 121.253 759.358 115.343C737.629 97.7033 740.39 102.333 709.718 120.413C679.133 108.683 655.679 147.323 661.641 131.403C627.202 144.953 627.806 123.683 611.982 133.373C608.359 119.343 569.032 106.273 570.058 120.203C558.613 81.1033 536.472 85.1533 533.453 100.543C513.383 91.3433 521.52 86.5833 493.705 83.4033C466.196 77.1533 457.704 97.5733 449.528 83.4433C457.886 80.7933 440.231 82.1733 413.902 102.953C371.211 95.3433 366.6 100.913 368.7 113.903C358.415 112.093 352.961 118.563 320.938 121.213C287.481 108.095 271.569 113.017 274.119 125.7C274.309 126.272 274.472 126.889 274.605 127.553C274.402 126.919 274.239 126.301 274.119 125.7C267.794 106.724 230.827 137.216 225.924 132.323C229.374 162.383 200.026 130.233 174.013 137.783C163.843 122.543 122.686 140.943 128.427 150.723C56.7134 141.653 80.5221 153.303 87.0015 176.843C77.3783 193.903 56.608 208.633 44.234 201.533C37.9367 224.113 15.815 210.833 0 207.693V83.6433C15.815 85.6233 37.9367 93.9733 44.234 79.7733C56.608 84.2433 77.3783 74.9833 87.0015 64.2533C80.5221 49.4533 56.7134 42.1333 128.427 47.8333C122.695 41.6733 163.843 30.1133 174.013 39.6933C200.026 34.9433 229.374 55.1633 225.924 36.2633C230.827 39.3404 267.792 20.1613 274.118 32.0961C271.571 24.1236 287.484 21.0247 320.938 29.2733C352.961 27.6033 358.405 23.5333 368.7 24.6733C366.591 16.4933 371.211 12.9933 413.902 17.7833C440.231 4.72328 457.877 3.85328 449.528 5.51328C457.704 14.3933 466.206 1.55328 493.705 5.48328C521.52 7.48328 513.383 10.4733 533.453 16.2633C536.472 6.58328 558.613 4.03328 570.058 28.6233C569.032 19.8633 608.368 28.0833 611.982 36.9033C627.806 30.8033 627.202 44.1833 661.641 35.6633C655.679 45.6733 679.133 21.3733 709.718 28.7533C740.38 17.3833 737.62 14.4733 759.358 25.5633C789.828 29.2833 769.93 31.1633 808.499 29.6833C818.669 21.9733 837.273 20.1233 845.497 32.3533C853.5 19.4833 886.194 21.6933 889.194 25.5233C899.383 4.12328 922.597 7.00328 942.045 10.4933C964.032 12.3433 967.349 -0.13672 999.908 6.89328C1008.27 5.77328 1025.95 7.44328 1038.84 18.6233C1039.93 16.4533 1055.89 31.9433 1073.34 35.7833C1082.68 41.9933 1095.64 43.1233 1109.22 47.2233C1125.78 47.7033 1142.18 37.5133 1149.38 42.4733C1153.09 34.2733 1169.19 35.7833 1187.44 30.9033C1209.72 5.72328 1214.2 15.9733 1239.82 28.5533C1270.67 36.9933 1261.75 33.3333 1291.83 33.6333C1337.31 52.5033 1349.7 43.0433 1356.21 40.7833C1364.01 41.4133 1368.44 38.8833 1395.91 39.0733C1411.85 23.3833 1404.98 31.3733 1454.85 30.8733C1472.92 28.3433 1483.05 34.1933 1502.92 27.8733C1506.21 29.7233 1529.82 9.57328 1547.45 21.4233C1560.12 26.2433 1536.65 16.5833 1567.55 10.7133Z" fill="#F4F6E1"/>
        </svg>
    <!-- </div> -->

<div class="footer-block">

    <div class="footer-container">
        <div class="footer-col">
            <p class="title">{title}</p>
            <p>{text}</p>
            <p>{caption}</p>
        </div>

        <div class="footer-col">
            <p>{mail}</p>
            
            <p>© {year} Terre Mère Rivière</p>
            <p>Conception ⸱ Gaspard Hedde</p>
        </div>
        
    </div>
   
</div>
</footer>

<style>

    footer{
        position: relative;
    }

    .footer-block{
        position: relative;
        background-color: #F4F6E1;
        color: #0B2828;
        padding: 3rem;
        padding-top: 5rem;
        /* overflow-x: hidden; */
    }

    .footer-block p{
        font-size: 1rem;
    }

    .footer-block .title{
        font-size: 2rem;
    }

    .transition{
        position: absolute;
        top: -3rem;
        left: -5rem;
        width: 110%;
        height: auto;
    }

    /* .transition-content{
        overflow: hidden;
        width: 100vw;
    } */

    .footer-container{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        gap: 2rem;
    }

    .footer-col{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items:: left;
        width: 40%;
    }

    @media screen and (max-width: 768px) {
        .transition{
            top: -1rem;
            left: 0;
            width: 100%;
        }

        .footer-container{
            flex-direction: column;
        }

        .footer-col{
            width: 100%;
        }

        .footer-block .title{
            font-size: 1.5rem;
        }
    }
	    
</style>